.navbar-nav > .nav-item {
    margin-left: 15px;
  }

section{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15%;
      }
#third{
    background-image: url(/img/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
